<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid">

    <h1 th:text="${title}"></h1>

    <form method="post" action="/removeItemsFromCart">

        <div th:each="item : ${cart.items}" class="form-group">
            <input type="checkbox" name="ids" th:value="${item.uid}" th:id="${item.uid}" />
            <label th:for="${item.uid}" th:text="${item.name + ' - $' + item.price}"></label>
        </div>

        <input type="submit" value="Remove Selected Items" />
    </form>

    <p><b>Total:</b> $<span th:text="${cart.computeTotal()}"></span></p>

</div>

</body>

</html>