<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>

    <nav th:replace="fragments :: navigation"></nav>

    <div class="container-fluid">

        <h1 th:text="${title}"></h1>

        <h2>Welcome to LaunchCart!</h2>

        <p>View our <a href="/viewItems">items</a> to start shopping.</p>

    </div>

</body>
</html>
